@font-face {
  font-family: 'Chomsky Regular';
  src: URL('/files/fonts/chomsky.regular.otf') format('truetype');
}

@font-face {
  font-family: 'Franklin Normal';
  src: URL('/files/fonts/franklin-normal-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Franklin Small';
  src: URL('/files/fonts/franklin-small-normal-500.ttf') format('truetype');
}

iframe {
  border-radius: 8px;
  width: 30%;
  margin-left: 35%;
  height: calc(80vh);
}

h1{
  padding: -10px;
  font-family: 'Chomsky Regular';
  font-weight: 100;
}

.header {
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  border-bottom: .5px solid #d4d4d4;
}

.header p {
  font-size: 10px;
  font-family: 'Franklin Small';
}

.date {
  font-weight: bold;
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 15px;
}

#newspapers {
  margin: 15px;
  font-size: 10px;
  font-family: 'Franklin Small';
}

a {
  font-size: 20px;
  font-family: 'Franklin Normal';
}

#newspaperForm {
  display: none;
  background: #ededed;
  border-top-left-radius: 12px;
  padding: 10px;
  font-family: 'Franklin Normal';
  position: fixed;
  bottom: 0px;
  right: 0px;
}

input, textarea, button {
  font-family: 'Franklin Normal';
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
  width: 240px;
}

.description {
  font-size: 12px;
  font-family: 'Franklin Small';
  width: 30%;
  position: fixed;
  top: 150px;
}

.title {
  font-size: 17px;
  position: fixed;
  font-family: 'Franklin Normal';
  top: 120px;
}

.datePublished {
  font-size: 12px;
  font-family: 'Franklin Small';
  position: fixed;
  top: 122px;
}

.header h1 {
  cursor: pointer;
}
